body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: #a4c1ff;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}

.option{
	padding: 4px;
	text-align: center;
}

h4{
    margin: 0%;
}

button{
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    border: none;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
	outline: none;
	font-size: 12pt;
	height: auto;
}

#screenplay{
	width: 8.5in;
	min-height: 11in;
	height: auto;
	padding-top: 1in;
	padding-bottom: 1in;
	background-color: #FFFFFF;
	margin: auto;
	margin-bottom: 24px;
}

.element{
	display: inline;
	hyphens: none;
}

.element:focus{
	background-color: #faf8f0;
}

.slug{
	padding-left: 1.5in;
	padding-right: 1in;
	padding-bottom: 12px;
	text-transform: uppercase;
}

.action{
	padding-left: 1.5in;
	padding-right: 1in;
	padding-bottom: 12px;
}

.dial{
	padding-left: 2.9in;
	padding-right: 2.3in;
	padding-bottom: 12px;
}

.paren{
	padding-left: 3.6in;
	padding-right: 2.9in;
}

.name{
	padding-left: 4.2in;
	padding-right: 1in;
}

.trans{
	padding-left: 6in;
	padding-right: 1in;
	padding-bottom: 12px;
	text-transform: uppercase;
}