body{
    display: flex;
    background-color: #a4c1ff;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
	
	margin: 0px;
}

#main{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#screenplay{
	display: flex;
	flex-direction: column;
	
	width: 8.5in;
	min-height: 11in;
	height: auto;
	padding-top: 1in;
	padding-bottom: 1in;
	background-color: #FFFFFF;
	margin: auto;
	margin-bottom: 24px;
}

.optionsWrapper{
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
}

.options{
	display: flex;
	flex-direction: row;
	width: 8.5in;
	background-color: #F0F0F0;
	border-bottom: 1px solid #333333;
	margin: auto;
    align-items: center;
	justify-content: space-between;
}

.option{
	padding: 4px;
	text-align: center;
}

#saveMenu{
	position: absolute;
	right: 50%;
	top: 50%;
	width: 100%;
	background-color: #FFDDAA;
}

#advOptions{
	display: none;
}

#contextMenu{
	position: absolute;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	
	padding: 4px;
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
  	box-shadow: 0px 0px 3px #AAAAAA;
	
	left: 0px;
	top: 0px;
}

#contextMenu span{
	font-size: 11pt;
	padding: 3px;
}

#contextMenu span:hover{
	background-color: #E0E0E0;
	cursor: pointer;
}

#contextMenu hr{
	width: 100%;
    margin: 3px 0px;
    height: 1px;
    border: 0px;
    background-color: #D0D0D0;
}

.optionNum{
	width: 24px;
}

h4{
    margin: 0%;
}

.optionsButton {
	background-color: #7892c2;
	border: 1px solid #4c64a6;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Courier New;
	font-size: 14px;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
	margin: 2px;
}
.optionsButton: hover {
	background-color: #476e9e;
}
.optionsButton: active {
	position: relative;
	top: 1px;
}

textarea{
    border: none;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
	outline: none;
	font-size: 12pt;
	height: auto;
}

#screenplay{
}

.element{
	display: inline;
	hyphens: none;
	white-space: pre-wrap;
}

.element: focus{
	background-color: #faf8f0;
}

.slug{
	padding-left: 1.5in;
	padding-right: 1in;
	padding-bottom: 12px;
	text-transform: uppercase;
}

.action{
	padding-left: 1.5in;
	padding-right: 1in;
	padding-bottom: 12px;
}

.dial{
	padding-left: 2.9in;
	padding-right: 2.3in;
	padding-bottom: 12px;
}

.paren{
	padding-left: 3.6in;
	padding-right: 2.9in;
}

.name{
	padding-left: 4.2in;
	padding-right: 1in;
}

.trans{
	padding-left: 6in;
	padding-right: 1in;
	padding-bottom: 12px;
	text-transform: uppercase;
}

/*Tooltip*/
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #D0D0D0;
	text-align: center;
	border-radius: 0px 8px 8px 8px;
	width: 150px;
	padding: 5px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip: hover .tooltiptext {
	visibility: visible;
}